<h2 class ="underline">Recent News</h2>
<p></p>
<% for blog in @blog do %>
<strong><%= blog.title %></strong> - <span class="light"><%= blog.created_at.to_formatted_s(:short) %></span>
<p><%= blog.article %></p>

<% end %>