body {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	background-color: #fc0;
}

#container {
	margin:auto;
	width:820px;
	height:auto;
	border:solid thin black;
}

#header {
	float:left;
	width:400px;
	height:80px;
}

#user_login_layout {
	float:left;
	width:420px;
	height:80px;
}

#content {
	background-color:#fff;
	width:820px;
	float:left;
}

#category_menu {
	width:820px;
	float:left;
	height:auto;
	background-color:white;
}

#new_user_item {
	width:820px;
	float:left;
	height:auto;
	background-color:white;
}

#items_to_pack {
	width:500px;
	float:left;
	height:auto;
}

#sidebar {
	width:300px;
	float:left;
	height:auto;
	background-color:white;
}

li.packed {
	background-color:#cfc;
}

#footer {
	clear:both;
}
