body {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	background-color: #fc0;
}

#container {
	margin:auto;
	width:820px;
	height:auto;
}

#header {
	float:left;
	width:400px;
	height:70px;
	font-family:Arial, Helvetica, sans-serif;
}

#user_login_layout {
	float:left;
	width:400px;
	height:25px;
	text-align:right;
	text-transform: capitalize;
	padding-right:10px;
	padding-top:45px;
}

#flash {
	width:auto;
	height:auto;
	background-color: #99EE6B;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	color: white;
	padding:5px;
	border:2px solid #329000;
	margin:3px;
	font-size:14px;
}

#error {
	width:auto;
	height:auto;
	background-color: #F56E8B;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	color: white;
	padding:5px;
	border:2px solid #990021;
	margin:3px;
	font-size:14px;
}

#check {
	width:820px;
	height:auto;
	float:left;
}

#content {
	background-color:#fff;
	width:820px;
	float:left;
}

#category_menu {
	width:820px;
	float:left;
	height:auto;
	background-color:white;
}

#new_user_item {
	width:820px;
	float:left;
	height:auto;
	background-color:white;
}

#items_to_pack {
	width:500px;
	float:left;
	height:auto;
}

#sidebar {
	width:300px;
	float:left;
	height:auto;
	background-color:white;
}

li.packed {
	background-color:#cfc;
}

#footer {
	clear:both;
}
