/*Application Layout*/
body {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	background-color: #FFD726;
	color:#333;
}
#container {
	margin:auto;
	width:960px;
	height:auto;
	background-color:white;
}
#header {
	float:left;
	width:500px;
	height:70px;
	font-family:Arial, Helvetica, sans-serif;
}
#user_login_layout {
	float:left;
	width:450px;
	height:25px;
	text-align:right;
	text-transform: capitalize;
	padding-right:10px;
	padding-top:45px;
}
#content {
	background-color:#fff;
	width:950px;
	float:left;
	padding:5px;
}
#footer {
	clear:both;
}

/*Errors + Notice CSS*/
#flash {
	width:auto;
	height:auto;
	background-color: #99EE6B;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	color: white;
	padding:5px;
	border:2px solid #329000;
	margin:3px;
	font-size:14px;
}
#error {
	width:auto;
	height:auto;
	background-color: #F56E8B;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	color: white;
	padding:5px;
	border:2px solid #990021;
	margin:3px;
	font-size:14px;
}
#check {
	width:960px;
	height:auto;
	float:left;
}

/*Wardrobe*/
#wardrobe{
	width:640px;
	height:auto;
	float:left;
	border-right:10px solid #CCC;
}
#category_menu {
	width:635px;
	float:left;
	height:auto;
	background-color:white;
	text-align:center;
	padding-top:10px;
	font-size:15px;
}
#new_user_item_form {
	width:635px;
	float:left;
	height:auto;
	background-color:white;
	text-align:center;
	padding-top:10px;
}
#wardrobe_title {
	float:left;
	width:635px;
	height:auto;
	margin-top:10px;
}
#wardrobe_category_title{
	float:left;
	width:575px;
	height:20px;
}
#collection_of_items_to_pack {
	width:635px;
	float:left;
	height:auto;
	margin-right:5px;
}
.item_to_pack {
	width:100px;
	float:left;
	height:140px;
	padding:10px;
	text-align:center;
	text-transform:capitalize;
}



/*Shared Bag CSS*/
#shared_bag {
	width:300px;
	float:left;
	height:auto;
	background-color:white;
	text-transform:capitalize;
}
.quantity {
	font-size: 36px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left:5px;
	padding-right:5px;
}
.underline{
	border-bottom:solid thin black;
}
.view_my_bag{
	float:left;
	font-size:10px;
	width:60px;
	height:15px;
	padding-top:5px
}
#bag_category_title {
	float:left;
	width:230px;
	height:20px;
}
table{
	float:left;
}

/*Packing List Tick*/
#packing_container {
	width:960px;
	float:left;
}
#packing_list_title{
	width:400px;
	height:30px;
	float:left;
}
#add_more_stuff {
	width:200px;
	height:30px;
	float:left;
}
#packing_email_form{
	width:350px;
	height:30px;
	float:left;
	text-align:right;
}

/*JQuery CSS*/
.overState{
	background:blue;
	color:white;
/*	filter:alpha(opacity=40); */
/*	-moz-opacity:.40;
	opacity:.40;*/
}
li.packed {
	background-color:#cfc;
}

/*Headers*/
h1 {
	font-size:24px;
}
h2 {
	margin:0px;
	font-size:18px;
	display:inline;
}
h3 {
	margin:0px;
}
h4 {
	margin:10px;
	font-size:14px;
	display: inline;	
}

/*Links*/
a:link {
	color:#066;
}
a:visited {
	color:#066;
}
a:hover {
	color:#06c;
}
a:active {
	color:#06c;
}

/*Buttons*/
.add { 
	color: #fff; 
	font-size: 10px; 
	background-color: #00ca04; 
	border: solid 2px #009e03;
}
.create {
	color: #fff; 
	font-size: 12px; 
	background-color: #ec7a00; 
	border: solid 2px #c36500;
}
