<h3 class="underline">Packing Template's</h3>
<table>
	<% for bag in @bag do%>
	<tr>
		<td width="200px">
			<%= bag.name %>
		</td>
		<td class="create">Start Packing</td>
	</tr>
	<% end %>
	
</table>
