<h3 class="underline">Packing Template's</h3>
<table>
	<% for bag in @bag_templates do%>
	<tr>
		<td width="250px">
			<%= bag.name %>
		</td>
		<td class="create"><%= link_to 'Start Packing', use_template_bag_path(bag), :method => :post %></td>
	</tr>
	<% end %>
	
</table>
