<h2 class="underline">Packing Templates</h2>
<table width="350px" valign="middle">
	<% for bag in @bag_templates do %>
	<tr height="40px">
		<td width="250px">
			<%= bag.name %>
		</td>
		<td width="100px"><%= link_to 'Use Template', use_template_bag_path(bag), :method => :post, :class => "link_button" %></td>
	</tr>
	<% end %>
	
</table>
