<table width= "500px">
	<tr>
		<th>Template</th>
		<th>Featured</th>
		<th>Name</th>
		<th></th>
	</tr>

	<% for bag in @bags %>
	<% form_for bag, :url => bag_path(bag), :html => {:method => :put} do |f| %>
	<tr>
		<td>
			<%= f.check_box :template %>
		</td>
		<td>
			<%= f.check_box :featured %>
		</td>
		<td><%= bag.name %></td>
		<td><%= f.submit %></td>
	</tr>
	<% end %>

	<% end %>

</table>