<h1><%= bag.name %></h1>

<% form_tag email_bag_path(bag) do %>
<%= text_field_tag :email %>
<%= submit_tag %>
<% end %>



<% if bag.bag_items.empty? %>
Your Bag is Empty
<% else %>

<ul id="bag_list">
	<%= render 'list' %>
</ul>
<% end %>