<div id="advert_picture">
	<p span class="banner">
	Need <%= link_to 'more reasons', "/reasons" %> to create a packing list?
	</p>

	<p>
	<span class="clickme"><%= link_to 'Start Packing', "/categories/1"%></span>
	</p>
</div>

