<p>Hi this is your packing list</p>

<ul>
	<% for bag_item in @bag.bag_items %>
		<li>
			<%= image_tag bag_item.item.image.url(:thumb) %> <%= bag_item.item.name %> x <%= bag_item.quantity%>

		</li>
	<% end %>
</ul>
